Global Solution/node-red.json
[{"id":"5d6422af.d1126c","type":"tab","label":"Global Solution","disabled":false,"info":""},{"id":"2d57c01d.5119c","type":"function","z":"5d6422af.d1126c","name":"proc li","func":"msg.params = {\n    session_id: msg.payload.chatId,\n    type: msg.payload.type,\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":300,"wires":[["557b605c.6c1a6"]]},{"id":"b61757ca.e2d3f8","type":"switch","z":"5d6422af.d1126c","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"voice","vt":"str"},{"t":"eq","v":"message","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":260,"wires":[["c75576dd.866848"],["2d57c01d.5119c"]]},{"id":"1fe4ab0a.28fdf5","type":"telegram sender","z":"5d6422af.d1126c","name":"","bot":"ca8f9208.22d67","haserroroutput":false,"outputs":1,"x":1550,"y":400,"wires":[[]]},{"id":"c75576dd.866848","type":"function","z":"5d6422af.d1126c","name":"audio","func":"msg.payload = {\n    type: \"message\",\n    content: \"Me desculpe, não consigo ouvir áudios.\",\n    chatId: msg.payload.chatId\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1250,"y":200,"wires":[["1fe4ab0a.28fdf5"]]},{"id":"13819f97.4cdab","type":"debug","z":"5d6422af.d1126c","name":"saida telegram","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":420,"y":220,"wires":[]},{"id":"6b1a0980.31faa8","type":"watson-assistant-v2","z":"5d6422af.d1126c","name":"watson","service-endpoint":"","assistant_id":"6c8c924e-3194-4cf2-a09a-3cfb80cf11a4","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":false,"timeout":"","optout-learning":false,"persist-session-id":false,"x":980,"y":300,"wires":[["2ce25bd1.b9b844"]]},{"id":"557b605c.6c1a6","type":"watson-language-translator-identify","z":"5d6422af.d1126c","name":"","service-endpoint":"https://api.us-south.language-translator.watson.cloud.ibm.com/instances/cf253b47-910b-4b12-8e69-df82fd64b20d","x":390,"y":340,"wires":[["53b5dadc.55a3d4","928dc9dd.c63d08"]]},{"id":"53b5dadc.55a3d4","type":"switch","z":"5d6422af.d1126c","name":"","property":"lang.language","propertyType":"msg","rules":[{"t":"eq","v":"pt","vt":"str"},{"t":"eq","v":"en","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":570,"y":340,"wires":[["362f5862.8d93c8"],["a7d65105.98efc"],["2df14891.aa0088"]]},{"id":"362f5862.8d93c8","type":"function","z":"5d6422af.d1126c","name":"proc entrada msg pt","func":"msg.payload = msg.originalMessage.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":300,"wires":[["6b1a0980.31faa8"]]},{"id":"2df14891.aa0088","type":"function","z":"5d6422af.d1126c","name":"outras linguas","func":"msg.payload = {\n    type: \"message\",\n    content: \"Eu só entendo português e inglês.\",\n    chatId: msg.params.session_id\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":560,"wires":[["1fe4ab0a.28fdf5"]]},{"id":"8876827.aa62f8","type":"watson-translator","z":"5d6422af.d1126c","name":"en2pt","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"pt","password":"","apikey":"__aHDxCm06RHyypS0qbaA8vtT3BhGjw7RZcgZ9aK-80I","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"pt","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.us-south.language-translator.watson.cloud.ibm.com/instances/cf253b47-910b-4b12-8e69-df82fd64b20d","x":970,"y":360,"wires":[["6b1a0980.31faa8"]]},{"id":"a7d65105.98efc","type":"function","z":"5d6422af.d1126c","name":"proc entrada msg en","func":"msg.payload = msg.originalMessage.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":340,"wires":[["8876827.aa62f8"]]},{"id":"a4a49a18.4744c8","type":"function","z":"5d6422af.d1126c","name":"proc saida bot","func":"msg.payload = msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":400,"wires":[["6035eec7.2e129"]]},{"id":"6035eec7.2e129","type":"watson-translator","z":"5d6422af.d1126c","name":"pt2en","action":"translate","basemodel":"ar-en","domain":"general","srclang":"pt","destlang":"en","password":"","apikey":"__aHDxCm06RHyypS0qbaA8vtT3BhGjw7RZcgZ9aK-80I","custom":"","domainhidden":"general","srclanghidden":"pt","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.us-south.language-translator.watson.cloud.ibm.com/instances/cf253b47-910b-4b12-8e69-df82fd64b20d","x":1210,"y":440,"wires":[["6e11e2a4.70827c"]]},{"id":"2ce25bd1.b9b844","type":"switch","z":"5d6422af.d1126c","name":"","property":"lang.language","propertyType":"msg","rules":[{"t":"eq","v":"pt","vt":"str"},{"t":"eq","v":"en","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1130,"y":340,"wires":[["131cecc0.83e2a3"],["a4a49a18.4744c8"]]},{"id":"131cecc0.83e2a3","type":"function","z":"5d6422af.d1126c","name":"proc saida msg pt","func":"msg.payload ={\n    chatId: msg.params.session_id,\n    content: msg.payload.output.generic[0].text,\n    type: msg.params.type\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":280,"wires":[["1fe4ab0a.28fdf5","3010d5f.2fc062a"]]},{"id":"6e11e2a4.70827c","type":"function","z":"5d6422af.d1126c","name":"proc saida msg en","func":"msg.payload ={\n    content: msg.payload,\n    chatId: msg.params.session_id,\n    type: msg.params.type\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":480,"wires":[["1fe4ab0a.28fdf5","c209d97e.47ca18"]]},{"id":"c209d97e.47ca18","type":"debug","z":"5d6422af.d1126c","name":"saida en","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1220,"y":520,"wires":[]},{"id":"3010d5f.2fc062a","type":"debug","z":"5d6422af.d1126c","name":"saida pt","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1220,"y":240,"wires":[]},{"id":"729d3567.b8664c","type":"function","z":"5d6422af.d1126c","name":"acesso negado","func":"msg.payload.content = \"Acesso negado\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":600,"wires":[["1fe4ab0a.28fdf5"]]},{"id":"7e0ccbdd.344d04","type":"telegram receiver","z":"5d6422af.d1126c","name":"","bot":"ca8f9208.22d67","saveDataDir":"","filterCommands":false,"x":130,"y":340,"wires":[["13819f97.4cdab","b61757ca.e2d3f8"],["729d3567.b8664c"]]},{"id":"928dc9dd.c63d08","type":"debug","z":"5d6422af.d1126c","name":"lingua","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"lang","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":400,"wires":[]},{"id":"ca8f9208.22d67","type":"telegram bot","botname":"@gulliver_tdsf_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]